

#btn-group1::after{
    content:""; 
    width: 100%;
    height: 100%;
    background-color: #f05f40;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 0px;
    transition: 0.3s ease-in-out all;
}
 
#btn-group1:hover::after{
    content:""; 
    top: 0px;
}
 